/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

form[name="clue"] > * {
  font-size: 200%;
}

form[name="clue"] input[type="text"] {
  width: 100%;
}

#clue-status {
  color: #aaa;
  float: right;
  font-size: 10pt;
  padding: 1.4em 0.5em 0 0;
}
#clue-status.error {
  color: #9F1E0B;
}

#clue-results {
  padding-left: 1em;
}

#clue-results ol {
  margin-top: 1em;
}

#clue-results ol li {
  margin-bottom: 1.5em;
  color: #bbb;
}

#clue-results ol li a {
  text-decoration: none;
  color: #333;
}
#clue-results ol li a:hover,
#clue-results ol li a:active {
  color: #5b85b1;
}

header {
  padding: 2em 0 2em 0;
  text-align: right;
}

.IPA { color: #5b85b1; }
.IPA:before, .IPA:after { content: "/"; }

header, h1, h2, h3, h4, h5, h6, #clue-results ol li a {
  font-family: 'Trocchi', serif;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #clue-status {
    padding: 1.4em 1em 0 0;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #clue-status {
    padding: 1.4em 1em 0 0;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  form[name="clue"] input[type="text"] {
    width: 95%;
  }
  header {
    padding: 1em 0 1em 0;
    font-size: 14pt;
    margin: 0;
  }
  header h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }
  form[name="clue"] > * {
    font-size: 150%;
  }
  #clue-status {
    padding: 1.1em 1em 0 0;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  form[name="clue"] input[type="text"] {
    width: 95%;
  }
  header {
    padding: 1em 0 1em 0;
    font-size: 14pt;
    margin: 0;
  }
  header h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }
  form[name="clue"] > * {
    font-size: 150%;
  }
  #clue-status {
    padding: 1.1em 0.5em 0 0;
  }

}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
